@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,900");


#home-animation-wrapper {
  width: 600px;
  height: 300px;
  position: relative;
  float: left;
  cursor: pointer;
}
#home-animation-wrapper svg {
  width: 600px;
  max-height: 90%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
